<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title or "cc11ty" }}</title>
  </head>
  <body>
    <header>
      <a href="/">Home</a>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
